@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

body {
  background-image: url(./src/assets/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.center-strike {
  position: relative;
  display: inline-block;
}
.center-strike::before {
  content: "";
  position: absolute;
  top: 58%;
  left: 0;
  right: 0;
  border-top: 1px solid currentColor;
  transform: translateY(-50%);
}
